*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif ;
}
body{
    color: #fcfcfc;

}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background : transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    position: relative;
    font-size: 25px;
    color: black;
    text-decoration: none;
     font-weight: 600;

}

.navbar a  {
    font-size: 18px;
    color: black;
    text-decoration: none;
     font-weight: 500;
     margin-left: 35px;
     transition:.3s;


}
.navbar a:hover,
.navbar a.active {
    color: #00abf0;
}

.about{
    height: 100vh;
    background-color:transparent;
    background-size: cover;
    background-position: right;
    display: flex;
    align-items: center;
    /* padding: 0 10%; */
    justify-content: left;
    
}

.info{
    padding-left: 0px;
    max-width: 500px;
    color: black;
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info h2 {

font-family: sans-serif;
font-size: 30px;
line-height: 2.3;

}

.info p {

    line-height: 1.2;
     
}
.about2{
    height: 100vh;
    background-image: url(about.jpg);
    background-position: center;
    background-size: cover;
    padding: 0px 30px;
    display: flex;
    align-items: center;
}


